body {
	font:$main-font;
	background: $white;  
	text-align:center; // this helps to center inline-block in ul nav 
}

strong {font-weight: $bold;}

// ---------------------
// SUSY 
// ---------------------
$susy: (
  /* Tells Susy to use 12 columns */
  columns: 12,
  /* Tells Susy that the container has a max-width of 1120px */
  container: 1600px,
  /* Tells Susy to use border-box */
  global-box-sizing: border-box 
 );


// ---------------------
// BREAKPOINTS 
// ---------------------
$narrow 	: 400px;
$small 		: 730px;
$medium 	: 960px;
$wide 		: 1200px;
$extrawide 	: 1600px;

// ---------------------
// HEADINGS 
// ---------------------

#{headings()} {
	color:$black;
	font:$head-font;
	text-align:center;
}

h1 {
	
	font-size: 2.7em;
	font-weight:$bold;
	color:#111;
	line-height:45px;
}

h2 {
	
	font-size: 2.5em;
	font-weight:$extrathin;
	text-transform:uppercase;
}


h3 {
	font-weight:$bold;
	font-size: 2em;
}

h4 {
	font-size: 1.3em;
	color:#666;
	margin-top:10px;
}
// ---------------------
// PARAGRAPH 
// ---------------------
p {
	font-weight:$normal;
	text-align:center;
	margin:5px;
	color:darken($lightgrey, 30%);
	font-size:1.2em;		
}
// ---------------------
// ANCHOR 
// ---------------------
a {text-align:center;}
// ---------------------
// SMALL 
// ---------------------
small {
	text-align:center;
	font-size:.7em;
	padding:0 10px;
	font-weight:$bold;
	@include border-radius(10px);	
}
