
//Import font
@import url(https://fonts.googleapis.com/css?family=Exo+2:400,300,600,200,700);
// ------------------
// Brand util colors
// ------------------
$black			: #111;
$blue			: #66ccff;
$green			: #66cc66;
$lightgrey		: #cccccc;

// cholapalace
$cpgold			: #f8edbc;
$cpred			: #a31627;
$cpchocolate 	:#4d2711;

// softauthor
$sagreen        : #54ba7c;
$sabeige		: #ede8cb;
// ------------------
// Primary Colors
// ------------------

// ------------------
// Scondary Color
// ------------------
$sa-bg			:$sagreen; 
$cp-bg			:$cpgold; 


// Fonts
$font-family	: 'Exo 2', Helvetica, Arial, sans-serif;
$extrathin		: 200;
$thin			: 300;
$normal			: 400;
$bold			: 600;
$heavy			: 700;


$head-font		: $thin 1.5em/1.5em $font-family;
$main-font		: $thin 1em/1.5em $font-family;

@include border-box-sizing;
